<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tdstester">

    <application
        android:allowBackup="true"
        android:icon="@drawable/drop"
        android:label="TDS Tester"
        android:roundIcon="@drawable/drop"
        android:supportsRtl="true"
        android:theme="@style/Theme.TDSTester">
        <activity
            android:name=".DayGraph"
            android:exported="true" />
        <activity
            android:name=".DeveloperInfo"
            android:exported="true"
            android:parentActivityName=".AboutActivity" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="Home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>